@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Montserrat&family=Roboto:wght@400;700;900&display=swap");

* {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
}

h2 {
  color: white;
}

/*

ANCHOR

*/

a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/*

Main Header

*/

.main__header {
  font-size: 48px;
  padding-left: 50px;
}

/* 

NAV

*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
  width: 1900px;
}

.nav__links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav__links {
  padding: 0 16px;
  font-size: 22px;
}

.nav__header {
  font-weight: bolder;
  font-size: 48px;
}
/*

Landing

*/

.landing__img--wrapper {
  margin: 0;
}

.landing__img {
  width: 2000px;
}

/* 

 Videos

*/

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.video {
  width: 30%;
  padding: 24px;
}

.video__title {
  font-size: 24px;
}

/*

Gaming Landing Img 

Fixing the size of the img

*/

.gaming {
  height: 670px;
}
