@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Montserrat&family=Raleway:wght@100;200;300;400;500;700&display=swap");

* {
  margin: 0;

  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/*

NAV

*/

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  animation: fade-up 700ms 800ms backwards;

  background-color: black;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.personal__logo {
  width: 160px;
}

.nav__links--list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 0;
}

.nav__link {
  position: relative;
  padding: 0 16px;
}

.nav__link--primary {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  width: 100px;
  padding: 0 12px;
  cursor: pointer;

  background-color: crimson;
  border-radius: 32px;
}
