@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Montserrat&family=Raleway:wght@100;200;300;400;500;700&display=swap");

* {
  margin: 0;

  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

#landing {
  background: url(/asset/images/Landing\ Background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
}

/*

NAV

*/
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 32px;
  animation: fade-up 700ms 800ms backwards;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.personal__logo {
  width: 160px;
}

.nav__links--list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 0;
}

.nav__link {
  position: relative;
  padding: 0 16px;
}

.nav__link--primary {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  width: 100px;
  padding: 0 12px;
  cursor: pointer;

  background-color: crimson;
  border-radius: 32px;
}

/*

ABOUT

*/

.about__me {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 900px;
}

.about__me--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 800px;
  height: 350px;
  padding: 18px;
  margin: 84px 32px;

  background-color: rgba(220, 20, 60, 0.7);
  border-radius: 32px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 1);

  animation: animate-profile-picture 1s 400ms backwards;
}

.personal__img--wrapper {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 1);
  margin-bottom: 28px;
}

.personal__img {
  width: 100%;
  animation: fade-in 1200ms 600ms backwards;
}

.about__description {
  text-align: left;

  color: whitesmoke;
  font-weight: 100;
}

.about__me--title,
.about__me--para {
  padding: 24px 12px;
}

.about__me--title {
  font-size: 32px;
}

.about__me--para {
  font-size: 24px;
}

/*

LANGUAGES

*/

#languages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background-color: #800020;
}

.language__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 32px;
}

.language__title,
.language__name {
  font-size: 24px;
  color: whitesmoke;
}

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
}
.language__img:hover {
  filter: brightness(80%);
  opacity: 0.85;
  transform: scale(0.9);
}
.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__title {
  margin: 24px;
}
.language__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;

  margin: 32px;

  outline: #fff solid 1px;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms ease;
  font-size: 20px;
}

.language:hover .language__name {
  transform: scale(1);
}

/*

FOOTER

*/

footer {
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;

  padding-right: 68px;
  height: auto;
}

.footer__logo--img {
  width: 150px;
  height: 150px;
}

.footer__copyright,
.footer__logo--popper {
  color: #fff;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 64px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__links--list {
  color: whitesmoke;
  font-size: 18px;
}

.footer__link--primary {
  display: none;
  align-items: center;
  justify-content: center;

  background-color: crimson;
  height: 56px;
  width: 170px;

  border-radius: 32px;
}

.footer__contact {
  padding-left: 8px;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(50px);
  opacity: 1;
}

.footer__logo--img:hover .footer__logo--popper {
  transform: scale(1);
}

/*

ANIMATION

*/

.nav__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav__link:hover::before {
  transform: scaleX(1);
}

.nav__link--primary:hover {
  opacity: 70%;
  transition: all 0.3s ease;
}

/*Animating Profile Picture*/
@keyframes animate-profile-picture {
  /*Disappear*/
  0% {
    transform: scale(0);
  }
  /*Shows and Grows Larger*/
  80% {
    transform: scale(1.2);
  }
  /*Goes to Original Size */
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fade-up {
  0% {
    /*Makes it begins disappear*/
    opacity: 0;
    transform: translateY(40px);
  }
  /*shows it to original*/
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*

MOBILE MENU

*/

#hamburger__icon {
  display: none;
  margin: auto 0;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  height: 2px;
  width: 32px;
  background-color: whitesmoke;
  margin: 6px 0;
  transition: 0.75s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}
.open .mobile__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.mobile__menu {
  display: none;
  position: absolute;
  left: 0;
  padding: 24px 0;

  height: 100%;
  width: 100%;
  background-color: black;
  font-size: 32px;
  animation: fade-in 700ms backwards;
}

.menu__list {
  padding: 24px 0;
}

/*

MOBILE DEVICES

*/

@media (min-width: 320px) and (max-width: 768px) {
  /*
  
      NAV
  
      */
  nav {
    margin: 0 12px;
  }
  .nav__container {
    margin-bottom: 20px;
  }

  .nav__links--list {
    display: none;
  }

  #hamburger__icon {
    display: block;
  }

  .personal__logo {
    width: 100px;
  }

  /*

  ABOUT

  */

  .about__me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .about__me--container {
    width: 260px;
    padding: 36px 0;
  }
  .personal__img--wrapper {
    width: 150px;
    height: 150px;
  }

  .about__me--title {
    font-size: 24px;
  }
  .about__me--para {
    font-size: 18px;
  }

  /*

  LANGUAGES

  */

  .language__container {
    margin: 24px 0;

    width: 90%;
  }

  .language__list {
    flex-direction: column;
  }

  .language__title {
    text-align: center;
  }

  .language__img {
    width: 80px;
  }

  .footer__link--primary {
    display: none;
  }
}

/*

IPADS AND TABLETS EDITS

*/

@media (min-width: 675px) and (max-width: 768px) {
  .about__me--container {
    width: 350px;
  }
}

/*

Extra Large Screens, TV

*/

@media (min-width: 2500px) {
  /*

    NAV

    */

  .personal__logo {
    width: 220px;
    height: 220px;
  }

  .nav__link,
  .nav__link--primary {
    font-size: 26px;
  }

  .nav__link--primary {
    width: 125px;
  }

  /*

  ABOUT

  */

  .about__me--container {
    width: 400px;
    height: auto;
  }

  .about__me--title {
    font-size: 36px;
  }

  .about__me--para {
    font-size: 28px;
  }
}
